<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <llmtxt>
            <general>
                <enabled>0</enabled>
            </general>
            <openai>
                <openai_model>gpt-5.4</openai_model>
            </openai>
            <ai_generation>
                <log_prompt>0</log_prompt>
            </ai_generation>
        </llmtxt>
    </default>
</config>
